/* global css styling - see components for how to style and add comps in modular way for reusability */
#startBackground {
    background-image: url("assets/startBackground.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    padding-bottom: 0em;
}


html {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: none;
    overflow-x: none;
}

.sideNav {
    position: fixed;
    float: right;
    right: 100px;
    height: 100%;
    width: 10%;
    background-color: transparent;
    overflow: hidden;   
    padding: 5rem;
    border-left: 2px solid red;
    display: flex;
    flex-direction: col;
}

.sideNav ul {
    justify-content: center;
    padding: 1rem;
}

.sideNav ul li {
    align-items: center;
}

.sideNav ul li a {
    flex-grow: 10;
    transition: 1s ease-in-out;
}

.sideContainer {
    width: 70%;
}