/* global css styling - see components for how to style and add comps in modular way for reusability */
#startBackground {
  background-image: url("/assests/startscreenbg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  padding-bottom: 0em;
}

.grd-background {
  background: linear-gradient(
    145deg,
    #4e55b1,
    #a8689e,
    #e9927c,
    #e9927c,
    #f5bd76
  );
  background-size: 1000% 1000%;
  -webkit-animation: gradient-background 22s ease infinite;
  -moz-animation: gradient-background 22s ease infinite;
  animation: gradient-background 22s ease infinite;
}

@-webkit-keyframes gradient-background {
  0% {
    background-position: 0% 13%;
  }
  50% {
    background-position: 100% 88%;
  }
  100% {
    background-position: 0% 13%;
  }
}
@-moz-keyframes gradient-background {
  0% {
    background-position: 0% 13%;
  }
  50% {
    background-position: 100% 88%;
  }
  100% {
    background-position: 0% 13%;
  }
}
@keyframes gradient-background {
  0% {
    background-position: 0% 13%;
  }
  50% {
    background-position: 100% 88%;
  }
  100% {
    background-position: 0% 13%;
  }
}

html {
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: none;
}

body {
  
}

.sideNav {
  position: fixed;
  float: right;
  right: 300px;
  height: 100%;
  width: 10%;
  background-color: transparent;

  padding: 5rem;
  border-left: 2px solid red;
  display: flex;
  flex-direction: col;
}

.sideNav ul {
  justify-content: center;
  padding: 1rem;
}

.sideNav ul li {
  align-items: center;
}

.sideNav ul li a {
  flex-grow: 10;
  transition: 1s ease-in-out;
}

.sideContainer {
  width: 70%;
}

/* assests */
#stage1interlude {
  width: 100%;
  height: 100%;
  /* add poster here - note for ralu */
}

#watermark,
#aboutButton,
#startButton {
  max-width: 30vw;
  float: right;
  transition: 3s ease-in-out;
}

#watermark:hover,
#aboutButton:hover,
#startButton:hover {
  transition: 3s ease-in-out;
  filter: brightness(0.25);
  scale: 0.9;
}
