/* global css styling - specific components */

/* IDE */
:root {
  --violet: #4e55b1;
  --purple: #a8689e;
  --orange: #e9927c;
  --yellow: #f5bd76;
  --white: white;
  --dark-blue: #14007a;
  --blue: #1a009c;
  --light-blue: rgb(74, 225, 255);
  --pink: rgb(255, 40, 113);
}

html {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  background-color: whitesmoke;
}

body {
  overflow: hidden;
}

#introContent > * {
  position: absolute;
}

header hgroup {
  margin: 1.2em;
  padding: 1.2em;
  text-align: left;
  font-weight: bold;
  color: whitesmoke;
  background-color: mediumpurple;
  border: solid 2px black;
  border-radius: 5px;
}

/* Buttons */
.buttons {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 2em;
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.allButtons::after {
  content: "";
  clear: both;
  display: table;
}

/* Make the image responsive */
.buttons img {
  width: 100%;
  height: auto;
  border: solid 2px black;
}

/* Style the button and place it at the bottom of the image */
.buttons .btn {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: mediumpurple;
  color: whitesmoke;
  font-size: 16px;
  padding: 12px 24px;
  border: solid 2px black;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.buttons .btn:hover {
  background-color: rgb(77, 22, 129);;
}

.backBtn {
  margin-left: 2em;
  margin-top: 2em;
  background-color: mediumpurple;
  color: whitesmoke;
  font-size: 16px;
  padding: 12px 24px;
  border: solid 2px black;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.backBtn:hover {
  background-color: rgb(77, 22, 129);;
}

/* Page Design */
.page p {
  font-size: 1.5vw;
}

.box {
  position: absolute;
  top: 20%;
  right: 40%;
  text-align: left;
  background-color: white;
  border-radius: 2vh;
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
  min-width: calc(100px + 10vw);
  max-width: fit-content;
  min-height: 100px;
  max-height: fit-content;
  padding: 1rem;
  transition: 2s ease-in-out;
}


#ideBody {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.code-editor {
  width: 100%;
  height: 90vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #fff;
  border: 1px solid var(--violet);
}

.code {
  overflow-y: auto;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background-color: var(--purple);
  padding: 0.75rem;
}


.code textarea {
  width: calc(100% - 2rem);
  height: calc(100% - 4rem);
  background-color: var(--violet);
  color: var(--white);
  padding: 1rem;
  font-size: 1.1rem;
  resize: none;
}

#result {
  width: 100%;
  height: 100%;
  border: none;
}

a {
  cursor: pointer;
}


/* video elements */
#stage1interlude {
  position: fixed;
  z-index: -1;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#completion {
  max-width: 100%;
  min-height: 100%;
}

#toExcercise {
  z-index: 5;
  background-color: var(--blue);
  color: white;
  box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.5);
}

/* styling for the quiz elements  */
.options:hover {
    transition: ease-in-out 2s;
}

/* background styling */
#startBackground {
  background: url("/assets/startscreenbg.png");
  background-position: 100% 0%;
  background-repeat: no-repeat;
  background-attachment:local;
  background-size: 100%;
  z-index: -1;
}

.grd-background {
  background: linear-gradient(
    145deg,
    #4e55b1,
    #a8689e,
    #e9927c,
    #e9927c,
    #f5bd76
  );
  background-size: 1000% 1000%;
  -webkit-animation: gradient-background 22s ease infinite;
  -moz-animation: gradient-background 22s ease infinite;
  animation: gradient-background 22s ease infinite;
}

@-webkit-keyframes gradient-background {
  0% {
    background-position: 0% 13%;
  }
  50% {
    background-position: 100% 88%;
  }
  100% {
    background-position: 0% 13%;
  }
}
@-moz-keyframes gradient-background {
  0% {
    background-position: 0% 13%;
  }
  50% {
    background-position: 100% 88%;
  }
  100% {
    background-position: 0% 13%;
  }
}
@keyframes gradient-background {
  0% {
    background-position: 0% 13%;
  }
  50% {
    background-position: 100% 88%;
  }
  100% {
    background-position: 0% 13%;
  }
}
/* component styling */
html {
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: none;
}

.sideNav {
  position: fixed;
  float: right;
  right: 300px;
  height: 100%;
  width: 10%;
  margin-right: 8vw;
  background-color: transparent;
  border-left: 2px solid red;
  display: flex;
  flex-direction: col;
}

.sideNav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50% 0;
}

.sideNav ul li {
  align-items: center;
}

.sideNav ul li a {
  flex-grow: 10;
  transition: 1s ease-in-out;
}

.sideContainer {
  width: 70%;
}

/* assets styling */
#stage1interlude {
  width: 100%;
  height: 100%;
  /* add poster here - note for ralu */
}

#watermark,
#aboutButton,
#startButton {
  max-width: 30vw;
  float: right;
  transition: 1s ease-in-out;
}

#watermark:hover,
#aboutButton:hover,
#startButton:hover {
  transition: 1s ease-in-out;
  filter: brightness(0.25);
  scale: 0.9;
}
