/* global css styling - specific components */
@import url("/styles/util.css");

:root {
  --violet: #4e55b1;
  --purple: #a8689e;
  --orange: #e9927c;
  --yellow: #f5bd76;
  --white: white;
}

html {
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: none;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  overflow: hidden;
}

#introContent > * {
  position: absolute;
}

/* IDE */
#ideBody {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.code-editor {
  width: 100%;
  height: 90vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: white;
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
}

.code {
  overflow-y: auto;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background-color: var(--sunset);
  padding: 0.75rem;
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
}

.code textarea {
  width: calc(100% - 2rem);
  height: calc(100% - 4rem);
  background-color: white;
  color: var(--white);
  padding: 1rem;
  font-size: 1.1rem;
  resize: none;
  border-radius: 1rem;
}

#result {
  width: 100%;
  height: 100%;
  border: none;
}

a {
  cursor: pointer;
}

/* image styling */
.code-snippet {
  width: 25%;
  border-radius: 1rem;
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
}

/* video elements */
#stage1interlude {
  position: fixed;
  z-index: -1;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#completion {
  max-width: 100%;
  min-height: 100%;
}

#question-video {
  border-radius: 1rem;

}

/* background styling */
#startBackground {
  background: url("/assets/startscreenbg.png");
  background-position: 100% 0%;
  background-repeat: no-repeat;
  background-attachment:local;
  background-size: 100%;
  z-index: -1;
}

.grd-background {
  background: linear-gradient(
    145deg,
    #4e55b1,
    #a8689e,
    #e9927c,
    #e9927c,
    #f5bd76
  );
  background-size: 1000% 1000%;
  -webkit-animation: gradient-background 22s ease infinite;
  -moz-animation: gradient-background 22s ease infinite;
  animation: gradient-background 22s ease infinite;
}

@-webkit-keyframes gradient-background {
  0% {
    background-position: 0% 13%;
  }
  50% {
    background-position: 100% 88%;
  }
  100% {
    background-position: 0% 13%;
  }
}
@-moz-keyframes gradient-background {
  0% {
    background-position: 0% 13%;
  }
  50% {
    background-position: 100% 88%;
  }
  100% {
    background-position: 0% 13%;
  }
}
@keyframes gradient-background {
  0% {
    background-position: 0% 13%;
  }
  50% {
    background-position: 100% 88%;
  }
  100% {
    background-position: 0% 13%;
  }
}

/* component styling */
/* main menu */
#stage1interlude {
  width: 100%;
  height: 100%;
}

#watermark,
#aboutButton,
#startButton {
  max-width: 30vw;
  float: right;
  transition: 1s ease-in-out;
}

#watermark:hover,
#aboutButton:hover,
#startButton:hover {
  transition: 1s ease-in-out;
  filter: brightness(0.25);
  scale: 0.9;
}

.sideNav {
  position: fixed;
  float: right;
  right: 20%;
  height: 100%;
  width: 10%;
  margin-right: 8vw;
  background-color: transparent;
  display: flex;
  flex-direction: col;
}

.sideNav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40% 0;
}

.sideNav ul li {
  align-items: center;
}

.sideNav ul li a {
  flex-grow: 10;
  transition: 1s ease-in-out;
}

.sideContainer {
  width: 70%;
}

/* Headers --------------------------------------------*/ 
header hgroup {
  margin: 0.8em;
  padding: 0.8em;
  text-align: center;
  font-weight: bold;
  color: whitesmoke;
  background-color: mediumpurple;
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

/* Buttons */
.buttons {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 2em;
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.allButtons::after {
  content: "";
  clear: both;
  display: table;
}

/* Make the image responsive */
.buttons img {
  width: 100%;
  height: auto;
}

/* Style the button and place it at the bottom of the image */
.buttons .btn {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: mediumpurple;
  color: whitesmoke;
  font-size: 16px;
  padding: 12px 24px;
  cursor: pointer;
  border: solid 5px lightgray;
  border-radius: 5px;
  text-align: center;
}

.buttons .btn:hover {
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
}

/* .backBtn {
  margin-left: 2em;
  margin-top: 2em;
  background-color: mediumpurple;
  color: whitesmoke;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 24px;
  border: solid 5px lightgray;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.backBtn:hover {
  background-color: rgb(77, 22, 129);
} */

.gang {
  position: relative;
  max-width: 250px;
  float: left;
}

/* .wholeGang::after {
  content: "";
  clear: both;
  display: table;
} */

.gang img {
  width: 100%;
  height: auto;
}

.gang .name {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  background-color: mediumpurple;
  color: whitesmoke;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 24px;
  border: solid 5px lightgray;
  border-radius: 20px;
  text-align: center;
}

/* .containerForAboutPage {
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: 5vw;
  margin-bottom: 2vw;
} */

.submit-btn {
  background-color: none;
  padding: 0.45rem;
  color: black;
  border-radius: 1rem;
}

.submit-btn:hover {
  cursor: pointer;
  transition: 0.5s ease-in-out;
  background-color: var(--violet);
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
}

.pop-up-box {
  position: absolute;
  top: 20%;
  right: 40%;
  text-align: left;
  background-color: white;
  border-radius: 2vh;
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
  min-width: calc(100px + 10vw);
  max-width: fit-content;
  min-height: 100px;
  max-height: fit-content;
  padding: 1rem;
  transition: 1s ease-in-out;
}

.box {
  position: relative;
  text-align: left;
  background-color: white;
  border-radius: 2vh;
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
  min-width: 100%;
  min-height: 100%;
  padding: 1rem;
}

.box-fit {
  position: relative;
  text-align: left;
  background-color: white;
  border-radius: 2vh;
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
  max-width: fit-content;
  max-height: fit-content;
  padding: 1rem;
}


.question-box {
  position: relative;
  text-align: left;
  background-color: white;
  border-radius: 2vh;
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
  min-width: 100%;
  min-height: 100%;
  padding: 0.25rem;
  transition: 0.5s ease-in-out;
}

.question-box:hover {
  transition: 0.5s ease-in-out;
  transform: scale(0.95);
  background-color: var(--sunset);
  color: grey;
}

