/* Reset all css for browser consistency */
* {
    margin: 0;
	padding: 0;
	border: 0;
	list-style-type: none;
}

input[type=submit] {
	background-color: none;
	border: none;
	all:unset;
	padding: 1rem;
	transition: 0.35 ease-out
}
