/* use this file for utility classes (simple classes used to build up css) */
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;500;700&display=swap');
.signika {
    font-family: 'Signika Negative', sans-serif;
}

:root {
    --white: #000;
    --purple: #4e55b1;
    --violet: #a8689e;
    --sunset-orange: #e9927c;
    --sunset-yellow: #f5bd76;
}

#content, #insert {
    width: 50%;
    height: 100%;
    overflow: hidden;
    padding: 1rem;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    background-color: whitesmoke;
}

.page {
 margin:10vh
}

/* layout */
.padding-sm {
 padding: 5vw;
}

.padding-md {
 padding: 10vw;
}

.padding-lg {
 padding: 15vw;
}

.margin-sm {
 margin: 0.5rem
}

.margin-md {
 margin: 1rem
}

.margin-lg {
 margin: 5rem
}


/* component utils */
.container {
    margin: 5vw 15vw;
    /* margin: 1.2em 1.2em;
    background-color: white;
    border: solid 2px black; */
}

.flex-container {
    display: flex;
}

.flex-row { 
    flex-wrap: row nowrap;
    flex-flow: row;
}

.flex-col {
    flex-wrap: col nowrap;
    flex-flow: column;
}

.grid {
    display: grid;
    grid-template-columns: repeat( 3 / 3fr);
    gap: 5px;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat( 2 / 2fr);
    gap: 5px;
}

header hgroup {
    margin: 1.2em;
    padding: 1.2em;
    text-align: left;
    font-weight: bold;
    color: whitesmoke;
    background-color: mediumpurple;
    border: solid 2px black;
    border-radius: 5px;
}

h1 {
 font-size: 15vw;
}

h2 {
 font-size: 12.5vw;
}

h3 {
 font-size: 7vw;
}

h4 {
 font-size: 5vw;
}

h5 {
 font-size: 3vw;
}

h6 {
 font-size: 1vw;
}

/* media queries */
@media (max-width: 600px) {
    .container {
        margin: 5vw 0vw
    }
}

/* Buttons */
.buttons {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 2em;
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clear floats after image containers */
.allButtons::after {
    content: "";
    clear: both;
    display: table;
}

/* Make the image responsive */
.buttons img {
    width: 100%;
    height: auto;
    border: solid 2px black;
  }

/* Style the button and place it at the bottom of the image */
.buttons .btn {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: mediumpurple;
    color: whitesmoke;
    font-size: 16px;
    padding: 12px 24px;
    border: solid 2px black;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
  
.buttons .btn:hover {
    background-color: rgb(77, 22, 129);;
}

.backBtn {
    margin-left: 2em;
    margin-top: 2em;
    background-color: mediumpurple;
    color: whitesmoke;
    font-size: 16px;
    padding: 12px 24px;
    border: solid 2px black;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.backBtn:hover {
    background-color: rgb(77, 22, 129);;
}

/* Page Design */
.page p {
    font-size: 1.5vw;
}
