/* use this file for utility classes (simple classes used to build up css) */
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;500;700&display=swap');
.signika {
    font-family: 'Signika Negative', sans-serif;
}

:root {
    --white: #000;
    --purple: #4e55b1;
    --violet: #a8689e;
    --sunset-orange: #e9927c;
    --sunset-yellow: #f5bd76;
}

#content, #insert {
    width: 50%;
    height: 100%;
    overflow: hidden;
    padding: 1rem;
}

.page {
 margin:10vh
}

/* layout */
.padding-sm {
 padding: 5vw;
}

.padding-md {
 padding: 10vw;
}

.padding-lg {
 padding: 15vw;
}

.margin-sm {
 margin: 0.5rem
}

.margin-md {
 margin: 1rem
}

.margin-lg {
 margin: 5rem
}


/* component utils */
.container {
    margin: 5vw 15vw;
    /* margin: 1.2em 1.2em;
    background-color: white;
    border: solid 2px black; */
}

.flex-container {
    display: flex;
}

.flex-row { 
    flex-wrap: row nowrap;
    flex-flow: row;
}

.flex-col {
    flex-wrap: col nowrap;
    flex-flow: column;
}

.grid {
    display: grid;
    grid-template-columns: repeat( 3 / 3fr);
    gap: 5px;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat( 2 / 2fr);
    gap: 5px;
}

h1 {
 font-size: 15vw;
}

h2 {
 font-size: 12.5vw;
}

h3 {
 font-size: 7vw;
}

h4 {
 font-size: 5vw;
}

h5 {
 font-size: 3vw;
}

h6 {
 font-size: 1vw;
}

/* media queries */
@media (max-width: 600px) {
    .container {
        margin: 5vw 0vw
    }
}


