/* use this file for utility classes (simple classes used to build up css) */
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;500;700&display=swap');
.signika {
    font-family: 'Signika Negative', sans-serif;
}

.page {
 margin:10vh
}

/* layout */
.padding-sm {
 padding: 5vw;
}

.padding-md {
 padding: 10vw;
}

.padding-lg {
 padding: 15vw;
}

.margin-sm {
 margin: 0.5rem
}

.margin-md {
 margin: 1rem
}

.margin-lg {
 margin: 5rem
}


/* component utils */
.container {
    margin: 5vw 15vw;
}

.flex-container {
    display: flex;
}

.flex-row { 
    flex-wrap: row nowrap;
    flex-flow: row;
}

.flex-col {
    flex-wrap: col nowrap;
    flex-flow: column;
}

.grid {
    display: grid;
    grid-template-columns: repeat( 3 / 3fr);
    gap: 5px;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat( 2 / 2fr);
    gap: 5px;
}

h1 {
 font-size: 15vw;
}

h2 {
 font-size: 12.5vw;
}

h3 {
 font-size: 10vw;
}

h4 {
 font-size: 10vw;
}

h5 {
 font-size: 10vw;
}

h6 {
 font-size: 10vw;
}
/* media queries */
@media (max-width: 600px) {
    .container {
        margin: 5vw 0vw
    }
}